{% extends 'partials/base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container my-4">
    <div class="row align-items-start">
        <div class="col-md-12">
            <div class="card-header">
                <h1 class="text-center">Statistics</h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card text-center p-3">
                            <h4>Registered Users</h4>
                            <h3><span>{{count_users}}</span></h3>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card text-center p-3">
                            <h4>All Products <i class="fa-thin fa-users"></i></h4>
                            <h3><span>{{count_products}}</span></h3>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card text-center p-3">
                            <h4>All Orders <i class="fa-thin fa-users"></i></h4>
                            <h3><span>{{count_orders}}</span></h3>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card text-center p-3">
                            <h4>All Events <i class="fa-thin fa-users"></i></h4>
                            <h3><span>{{count_events}}</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-4">
        <div class="row align-items-start">
            <div class="row">    
                <div class="col-md-4">
                    <div class="card">    
                        <div class="card-header">
                            <h1 class="text-center">Users</h1>
                        </div>    
                        <div class="card-body">
                            <table class="table">
                                <thead class="table-light">
                                    <tr>
                                        <th scope="col">User Name</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                    <tr>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.first_name }}</td>
                                        <td>{{ user.last_name }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h1 class="text-center">Products</h1>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead class="table-light">
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if items|length == 0 %}
                                    <tr>
                                        <td>-</td>
                                        <td>-</td>
                                    </tr>
                                    {% endif %}
                                    
                                    {% for item in items %}
                                    <tr>
                                        <td>{{ item.name }}</th>
                                        <td>{{ item.quantity }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <a class="nav-link text-primary active" aria-current="page" href="{% url 'items' %}">Go to Products</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h1 class="text-center">Orders</h1>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead class="table-light">
                                    <tr>
                                        <th scope="col">Product</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Date</th>
            
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if orders|length == 0 %}
                                    <tr>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                    </tr>
                                    {% endif %}
                                    
                                    {% for order in orders %}
                                    <tr>
                                        <td>{{ order.product }}</th>
                                        <td>{{ order.order_quantity }}</td>
                                        <td>{{ order.date }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <a class="nav-link text-primary active" aria-current="page" href="{% url 'orders' %}">Go to Orders</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">Events</h1>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Localitation</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if orders|length == 0 %}
					    <tr>
						    <td>-</td>
						    <td>-</td>
						</tr>
					    {% endif %}
                        
                        {% for evento in eventos %}
                        <tr>
                            <td>{{ evento.name }}</th>
                            <td>{{ evento.localitation }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a class="nav-link text-primary active" aria-current="page" href="{% url 'events' %}">Go to Events</a>
            </div>
        </div>
    </div>
</div>


{% endblock content %}