{% extends 'partials/base.html' %}
{% block title %} {{ title }} {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
	{% for message in messages %}
	{% if message.tags == 'error' %}
		<div class="col-md-10 col-12 mx-auto alert alert-danger">
			{{ message }}
		</div>
	{% else %}
		<div class="col-md-10 col-12 mx-auto alert alert-success">
			{{ message }}
		</div>
	{% endif %}
	{% endfor %}	

	<a href="{% url 'items' %}" class="btn btn-outline-primary my-3 mx-4">Go Back</a>
	
	<div class="row">
		<div class="col-11 col-md-4 mx-auto mt-5">
			<h1>Inventory Item</h1>

			<form method="POST">
				{% csrf_token %}
				{{ form|crispy }}

				<div class="mt-3">
					{% if title == "New Item" %}
                	<button class="btn btn-primary">Add Item</button>
            		{% else %}
					<button type="submit" class="btn btn-primary">{{ savebtn }}</button>
					{% endif %}
				</div>
			</form>
		</div>
	</div>
{% endblock content %}